.jumbotron {
  padding-top: 6rem;
  background-color: #26f364;
}

.navbar .logo {
  font-weight: 1000;
  color: orange;
}

.gallery a {
  text-decoration: none;
}

#projects,
footer {
  background-color: #26f364;
}

section {
  padding-top: 5rem;
}
